$main-color: #1c0d7d;
$focus-color:rgba(35, 15, 165, 0.1);
$text-color:#32303a;
$shadow-color: rgba(129, 129, 129, 0.6);

$font-family: 'Poppins', sans-serif;

$desktop: 1010px;
$tablet: 775px;
$mobile: 488px;